@model Klinika.Data.Data.Entities.Uzytkownik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Uzytkownik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataUrodzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataUrodzenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumerPESEL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumerPESEL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plec.IdPlec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres.KodPocztowy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUzytkownika">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
